name: Release

on: workflow_dispatch

permissions:
  packages: write
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Install fx
      run: |
        curl -SsfL https://philcrockett.com/yolo/v1.sh \
          | bash -s -- fx
    - name: Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: ./scripts/release.sh
